<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <nav class="breadcrumbs">
                <ul>
                    <li><a asp-controller="Home" asp-action="Index">Главная</a></li>
                    <li><span>Информация о доставке</span></li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="shipping-info p-3 bg-white">
                <h5><span>Информация о доставке</span></h5>
                <p>В магазине Mercer Store мы стремимся обеспечить быструю и надежную доставку для всех наших клиентов.
                    Вот подробности о нашей политике доставки:</p>
                <h2 class="h6">Способы доставки</h2>
                <p>Мы предлагаем различные способы доставки, чтобы удовлетворить ваши потребности. Независимо от того,
                    нужны ли вам товары быстро или вы хотите сэкономить на стоимости доставки, у нас есть варианты для
                    вас.</p>
                <h2 class="h6">Время обработки</h2>
                <p>Заказы обычно обрабатываются в течение 1-2 рабочих дней. Вы получите подтверждение по электронной
                    почте с номером отслеживания, как только ваш заказ будет отправлен.</p>
                <h2 class="h6">Сроки доставки</h2>
                <p>Сроки доставки зависят от вашего местоположения и выбранного способа доставки. Стандартная доставка
                    обычно занимает 3-7 рабочих дней, также доступны варианты ускоренной доставки для более быстрой
                    доставки.</p>
                <h2 class="h6">Стоимость доставки</h2>
                <p>Стоимость доставки рассчитывается на основе веса вашего заказа и выбранного способа доставки.
                    Бесплатная доставка доступна для заказов на сумму выше определенной.</p>
                <h2 class="h6">Международная доставка</h2>
                <p>Мы предлагаем международную доставку во многие страны. Обратите внимание, что могут применяться
                    таможенные сборы и импортные пошлины, которые являются обязанностью клиента.</p>
                <p>Если у вас есть вопросы о нашей политике доставки, пожалуйста, свяжитесь с нами. Мы здесь, чтобы
                    помочь!</p>
            </div>
        </div>
    </div>
</div>
