@{
    ViewData["Title"] = "Результаты поиска";
}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-10 col-md-12 p-3 bg-light">
            <nav class="breadcrumbs">
                <h3 class="mb-0">Результаты поиска</h3>
            </nav>
            <hr class="my-4" />
            <div class="row">
                <div class="col-sm-6">
                    <div id="search-sort-root"></div>

                </div>
                <div class="col-sm-6">
                    <div id="search-page-size-root">
                    </div>
                </div>
            </div>
            <div class="col-12">

                <div id="search-result-list-root"></div>
                <div class="d-flex justify-content-between flex-column flex-lg-row">
                    <div class="pagination mb-2 mb-lg-0">
                        <div id="search-pagination-root"></div>
                    </div>
                    <div id="search-total-products-info-root"></div>
                </div>
            </div>
        </div>
    </div>
</div>

