@{
    ViewData["Title"] = "Поиск продуктов";
}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-10 col-md-12 p-3 bg-light">
            <nav class="breadcrumbs">
                <h3 class="mb-3">Поиск продуктов</h3>
                <div id="admin-search-bar-root"></div>
            </nav>

            <hr class="my-4" />
            <div class="col-12">
                <div id="admin-search-result-table-root"></div>
            </div>
        </div>
    </div>
</div>

