:root {
    --bg-color: #f5f5f5;
    --text-color: #6c757d;
    --accent-color: #e81e60;
    --contrast-color: #3d464d;
    --gray-color: #ccc;
    --red-color: #ee6e73;
    --light-grey-color: #eee;
}

html,
body {
    height: 100%;
}
/* ============================= Modals ============================ */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
/* ============================= Modals ============================ */
body {
    min-width: 320px;
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

a {
    color: var(--text-color);
    text-decoration: underline;
}

textarea {
    resize: none;
}

a:hover {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}
ul .dropdown-item:active{
    background-color:var(--accent-color);
}
.btn,
.dropdown-menu,
.form-control,
.form-select {
    
}

    .form-control:focus,
    .form-select:focus {
        color: var(--text-color);
        border-color: var(--accent-color);
        box-shadow: none;
    }

    .form-control::placeholder {
        color: var(--gray-color);
    }

.btn-warning {
    background-color: var(--accent-color);
    color: var(--contrast-color);
}

.btn-outline-warning {
    border-color: var(--accent-color);
    color:var(--accent-color);
    background-color:#fff;
}
    .btn-outline-warning:hover {
        background-color: var(--accent-color);
        color: #fff;
        border-color: var(--accent-color);
    }
    .btn-outline-warning:active {
        background-color: var(--accent-color) !important;
        color: var(--contrast-color) !important;
        border-color: var(--accent-color) !important;
    }

    .bg-warning {
        background-color: var(--accent-color) !important;
    }


}
.btn-danger{
    background-color:#fff;
    border-color:#fff;
    
}
.btn-danger:hover {
    background-color: #fff;
    border-color: #fff;
    
    
}
.btn-danger:active {
    background-color: #fff!important;
    border-color: #fff!important;
}
}
/* ============================= General rules ============================ */
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main.main {
    flex: 1 1 auto;
}

section {
    padding: 50px 0;
}

.section-title {
    position: relative;
    text-transform: uppercase;
    color: var(--contrast-color);
    font-weight: 700;
}

    .section-title span {
        background-color: var(--bg-color);
        padding-right: 1rem;
        position: relative;
        z-index: 1;
    }

    .section-title::after {
        position: absolute;
        content: "";
        width: 100%;
        top: 50%;
        left: 0;
        border-top: 1px dashed var(--text-color);
    }

label.required::before {
    content: '* ';
    color: #dc3545;
    font-weight: bold;
}

/* ============================= General rules ============================ */

/* ============================= Header ============================ */

.header-top-phone a {
    text-decoration: none;
}

    .header-top-phone a:hover {
        color:var(--accent-color);
    }

ul.social-icons {
    list-style: none;
    margin-bottom: 0;
    padding: 0;
}

    ul.social-icons li {
        margin-right: 10px;
    }

    ul.social-icons a {
        background-color: var(--accent-color);
        color: var(--contrast-color);
        width: 30px;
        height: 30px;
        line-height: 30px;
        border-radius: 50%;
        float: left;
        text-align: center;
        transition: all .3s;
    }

        ul.social-icons a:hover {
            background-color: var(--contrast-color);
            color: var(--accent-color);
        }

.header-top .btn {
    background-color: #fff;
}

.header-logo {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--accent-color);
    transition: all .3s;
}

    .header-logo:hover {
        color: var(--contrast-color);
    }

.cart-buttons .btn {
    color: var(--contrast-color);
    transition: all .3s;
}

    .cart-buttons .btn:hover {
        border: 1px solid var(--contrast-color);
    }

.offcanvasCart-table .product-img-td {
    width: 70px;
    text-align: center;
}

.offcanvasCart-table img {
    max-width: 50px;
}

.offcanvasCart-table a {
    text-decoration: none;
    display: block;
}

    .offcanvasCart-table a:hover {
        color:var(--accent-color);
    }
.offcanvasCart-table{
    text-align:justify;
    vertical-align:text-bottom;
    
}
i.fa-regular.fa-circle-xmark {
    font-size: 1.50rem;
    color: var(--accent-color);

}
i.fa-regular.fa-circle-xmark:hover {
    color:#fff;
    background-color:var(--accent-color);
    border-radius:50%;
    border-color:var(--accent-color);
}
.header-bottom {
    border-top: 3px solid var(--accent-color);
    box-shadow: 0 10px 10px rgba(0, 0, 0, .3);
}

    .header-bottom .navbar,
    .header-bottom .navbar .dropdown-menu {
        background-color: var(--contrast-color) !important;

    }
        
        .header-bottom .nav-item:first-child .nav-link {
            padding-left: 0;
        }

    .header-bottom .navbar .nav-link {
        color: #fff;
        transition: .3s all;
        letter-spacing: .1rem;
    }

        .header-bottom .navbar .nav-link:hover {
            color: var(--accent-color);
        }

        .header-bottom .navbar .nav-link.active {
            color: var(--accent-color);
        }

    .header-bottom .navbar .dropdown-menu {
        margin-top: 7px;
    }

.headernav-scroll.header-bottom .navbar .offcanvas:not(.show) .nav-link {
    
}
#button-search{
    color:var(--accent-color);
    
}
#button-search:hover {
    color:var(--contrast-color);
    border-color:var(--accent-color);
}
#button-search:active {
    color: var(--contrast-color);
    border-color: var(--accent-color);
    background-color: var(--bg-color);

}
#button-ofcanvas-cart{
    color:var(--accent-color);
}
    #button-ofcanvas-cart:hover{
        border-color:var(--accent-color);
        color:#fff;
    }
    #button-ofcanvas-cart:active{
        background-color:var(--contrast-color);
    }
/* ============================= Header ============================ */
/* ============================= Main ============================ */
/* ============================= Carousel ============================ */
.carousel-caption {
    text-shadow: 0 0 2px rgba(0, 0, 0, 1);
}

    .carousel-caption p {
        font-size: 1.5rem;
    }
.carousel-inner .carousel-item active{
    max-height: 100px;
}

/* ============================= Carousel ============================ */
/* ============================= Advantages ============================ */
.advantages .item {
    background-color: #fff;
    text-align: center;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: all .3s;
}

    .advantages .item:hover {
        box-shadow: 0 15px 30px -20px rgba(0, 0, 0, .5);
    }

.advantages i {
    font-size: 70px;
    color: var(--accent-color);
}

/* ============================= Advantages ============================ */

/* ============================= Featured products ============================ */

/* ============================= Product card ============================ */
.product-card {
    transition: all .3s;
    border: 1px solid var(--gray-color);
    background-color: #fff;
    position: relative;
}

    .product-card:hover {
        box-shadow: 0 10px 20px -15px rgba(0, 0, 0, 0.75);
    }

.product-card-offer {
    color: #fff;
    position: absolute;
    top: 5px;
    right: 5px;
    text-transform: uppercase;
}

    .product-card-offer > div {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-weight: bold;
        font-size: 14px;
        margin-bottom: 5px;
    }

.offer-hit {
    background-color: var(--red-color);
}

.offer-new {
    background-color: var(--accent-color);
}

.product-thumb {
    text-align: center;
}

    .product-thumb img {
        max-width: 250px;
        margin-left:auto;
        margin-right:auto;
    }

.product-details {
    padding: 10px 20px;
}

    .product-details h4 {
        font-size: 1.2rem;
    }

        .product-details h4 a {
            height: 45px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            text-decoration: none;
            transition: all .3s;
        }

            .product-details h4 a:hover {
                color: var(--accent-color);
            }

.product-excerpt {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 45px;
    overflow: hidden;
}

.product-bottom-details {
    border-top: 1px solid var(--light-grey-color);
    padding-top: 1rem;
}

.product-price {
    font-size: 18px;
    color: var(--red-color);
    font-weight: 600;
}

    .product-price small {
        color: var(--gray-color);
        font-weight: 400;
        text-decoration: line-through;
        font-size: 0.8rem;
    }

.owl-carousel-full .owl-item img {
    display: inline-block;
    width: auto;
}

.product-rating i {
    color: #ccc;
}

.product-rating .active {
    color: var(--accent-color);
}

.product-rating .count-reviews {
    margin-left: 10px;
}

.product-review-header {
    display: flex;
    justify-content: space-between;
}

    .product-review-header .review-date {
        color: var(--gray-color);
    }

/* ============================= Product card ============================ */

/* ============================= Featured products ============================ */

/* ============================= About Us ============================ */
.about-us {
    background-color: #fff;
}

    .about-us .section-title span,
    .sidebar .section-title span,
    .bg-white .section-title span {
        background-color: #fff;
    }

/* ============================= About Us ============================ */

/* ============================= Footer ============================ */
footer {
    background-color: var(--contrast-color);
    padding: 50px 0;
    color: #fff;
    flex: 0 0 auto;
}
.footer-content-center {
    display: flex;
    flex-direction: column;
    align-items: center; /* Выравниваем по центру по вертикали */
    width: auto;
    height: auto;
}
footer ul.list-unstyled {
    align-self:flex-start;
}
.center-align {
    
    margin-bottom: 0; /* Опционально: убираем лишний отступ у заголовка */
}
    footer h4 {
        color: var(--accent-color);

    }

    footer a {
        color: #fff;
        text-decoration: none;
        transition: all .3s;
    }

        footer a:hover {
            color: var(--accent-color);
        }

.footer-icons {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    font-size: 20px;
}

/* ============================= Footer ============================ */

#top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--accent-color);
    opacity: .5;
    color: #fff;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 0;
    font-size: 25px;
    transition: all .5s;
    z-index: 10;
    display: none;
}

    #top:hover {
        opacity: 1;
    }

/* ============================= Main ============================ */

/* ============================= Category Page ============================ */
.breadcrumbs {
    margin: 30px 0;
    background-color: #fff;
    padding: 1rem;
}

    .breadcrumbs ul {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
    }

    .breadcrumbs a {
        text-decoration: none;
        color: var(--contrast-color);
        transition: all .5s;
        margin-right: 0.5rem;
    }

        .breadcrumbs a:hover {
            color: var(--accent-color);
        }

        .breadcrumbs a::after {
            content: "/";
            padding-left: 0.5rem;
            color: var(--contrast-color);
        }

.sidebar {
    background-color: #fff;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
}

.filter-block:not(:last-child) {
    margin-bottom: 2rem;
}

.filter-block .form-check {
    margin-bottom: 0.5rem;
}

.form-check-input[type="checkbox"] {
    border-radius: 0;
    border-color: var(--gray-color);
}

.form-check-input:focus {
    border-color: var(--gray-color);
    box-shadow: none;
}

.form-check-input:checked {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}

.filter-block .badge {
    color: var(--text-color);
}

.page-link {
    color: var(--contrast-color);
}

    .page-link:hover {
        color: #fff;
        background-color: var(--accent-color);
        border-color: var(--accent-color);
    }

    .active > .page-link,
    .page-link.active {
        background-color: var(--accent-color);
        border-color: var(--accent-color);
    }

.sidebar .collapse-filters-btn {
    color: var(--contrast-color);
}

/* ============================= Category Page ============================ */


/* ============================= Product Page ============================ */

.product-content .product-price {
    font-size: 25px;
}

.product-content .input-group {
    width: 250px;
}

.product-content .card i {
    color: var(--accent-color);
}

.product-content .card {
    padding-left: 20px;
    font-size: 14px;
}

    .product-content .card ul li::before {
        content: "\f105";
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        margin-right: 10px;
    }

.nav-tabs .nav-link {
    border-radius: 0;
    color: var(--contrast-color);
}

.tab-content {
    padding-top: 20px;
}

/* ============================= Product Page ============================ */


/* ============================= Cart Page ============================ */
.cart-content table img {
    max-width: 50px;
}

.cart-content table th {
    text-align: center;
}

.cart-content table td {
    padding: 1rem;
}

.cart-content-title {
    text-decoration: none;
    display: block;
}

.cart-qty {
    width: 70px;
}

.btn-coupon {
    color: var(--text-color);
    text-decoration: none;
}

    .btn-coupon:hover {
        color: var(--contrast-color);
    }

.cart-summary h3 {
    color: #000;
}

.cart-summary .btn {
    padding: 1rem;
}

/* ============================= Cart Page ============================ */

@media only screen and (min-width : 992px) {
    .header-bottom .navbar .dropdown-menu-end {
        margin-left: 0;
        border: 0;
    }

    .header-bottom .navbar .nav-link {
        padding: 1rem;
    }
}

@media only screen and (max-width : 991.98px) {
    .header-bottom .navbar .dropdown-menu {
       margin-left: 0;
        border: 0;
    }
}

@media only screen and (min-width : 768px) {
    .sidebar .collapse-filters {
        display: block;
    }

    .sidebar .collapse-filters-btn {
        display: none;
    }
}

@media only screen and (max-width : 500px) {
    .product-content-details .nav-tabs .nav-link {
        padding-left: 8px;
        padding-right: 8px;
    }
}

.register-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px; /* Верхний отступ */
    padding-bottom: 40px; /* Нижний отступ */
}

.register-background {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.registration-form {
    width: 300px; /* Adjust width as needed */
    align-items: center;
}

    .registration-form .form-group {
        margin-bottom: 15px;
    }

    .registration-form .btn {
        margin-top: 10px;
        border-color: var(--accent-color);
        color: var(--text-color);
    }

        .registration-form .btn:hover {
            background-color: var(--accent-color);
            color: #fff;
            border-color: var(--accent-color);
        }

    .registration-form .btn-block {
        display: block;
        width: 100%;
    }

    .registration-form .form-group.text-center {
        margin-top: 20px; /* Увеличиваем отступ сверху для надписи */
    }

        .registration-form .form-group.text-center a {
            color: var(--accent-color); /* Цвет ссылки */
            text-decoration: none;
        }

            .registration-form .form-group.text-center a:hover {
                text-decoration: underline;
            }



.profile-card {
    margin: 0 auto;
    padding: 40px;
    max-width: 1000px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    margin-bottom: 150px;
}

.profile-image {
    max-width: 250px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-radius: 0;
}

.profile-info {
    padding-left: 50px;
}

    .profile-info h5 {
        font-size: 2em;
        margin-bottom: 20px;
    }

    .profile-info p {
        font-size: 1.2em;
        margin-bottom: 20px;
        border-bottom: 1px solid #e0e0e0;
        padding-bottom: 10px;
    }
    #userIcon{
        color:var(--accent-color)
    }