@model MercerStore.Web.Application.ViewModels.Users.RegisterViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ShowHeaderFooter = false;
    ViewData["Title"] = "Создание менеджера";
}

<div class="register-wrapper">
    <div class="register-background">
        <form asp-action="RegisterManager" class="registration-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control"/>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-outline-success btn-block">Создать менеджера</button>
            </div>
        </form>
    </div>
</div>