<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <nav class="breadcrumbs">
                <ul>
                    <li><a asp-controller="Home" asp-action="Index">Главная</a></li>
                    <li><span>О нас</span></li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="about-us p-3 bg-white">
                <h5><span>О нас</span></h5>
                <p>Добро пожаловать в магазин Mercer! Мы стремимся предоставить вам лучшие товары и исключительное обслуживание клиентов. Наша история началась с видения создания бесшовного опыта покупок для наших клиентов. Спасибо, что выбрали нас!</p>
                <p>В магазине Mercer мы верим в качество, честность и удовлетворение клиентов. Наша команда неустанно работает, чтобы предложить вам самые последние и лучшие продукты на рынке. Мы надеемся, что вам понравится ваш опыт покупок с нами.</p>
                <p>Если у вас есть вопросы или отзывы, не стесняйтесь обращаться к нам. Мы здесь, чтобы помочь!</p>
            </div>
        </div>
    </div>
</div>